/* ===== AUTH LOGIN ===== */

.e-5abc3d9a
{
	display: block;
	width: 100%;
	height: 100%;
}

/* Box */

.e-5abc3d9a > .box
{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding: var(--ot-spacing-l);
}

/* Card */

.e-5abc3d9a > .box > .card
{
	display: flex;
	flex-direction: column;
	gap: var(--ot-spacing-l);
	width: 100%;
	max-width: 400px;
	padding: var(--ot-spacing-l);
	border: 1px solid var(--ot-bg-2-border);
	border-radius: var(--ot-radius-l);
	background: var(--ot-bg-2);
}

/* Head */

.e-5abc3d9a > .box > .card > .head
{
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.e-5abc3d9a > .box > .card > .head > h1
{
	font-size: 22px;
	font-weight: 650;
	color: var(--ot-text-1);
}

.e-5abc3d9a > .box > .card > .head > p
{
	font-size: var(--ot-size-s);
	color: var(--ot-text-3);
}

/* Fields */

.e-5abc3d9a .fields
{
	display: flex;
	flex-direction: column;
	gap: var(--ot-spacing-m);
}

/* Foot */

.e-5abc3d9a > .box > .card > .foot
{
	display: flex;
	align-items: center;
	gap: 6px;
	font-size: var(--ot-size-s);
	color: var(--ot-text-3);
}

.e-5abc3d9a > .box > .card > .foot > a
{
	color: var(--ot-brand);
	cursor: pointer;
}
